html {
    height: 100%;
    font-size: 2rem;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#display {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display p {
    min-width: 250px;
    text-align: center;
    border: 1px solid #fff;
    user-select: none;

}

#display #score {
    min-width: 200px;
    font-size: 2rem;
    text-align: center;
    border: none;
    user-select: none;
}

#console {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#console #round {
    height: 50%;
    margin: 0;
    user-select: none;
}

#console #message {
    height: 50%;
    margin: 0;
    font-size: 2rem;
    text-align: center;
    user-select: none;
}

#keys {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keys button {
    min-width: 200px;
    height: 50%;
    margin: 0 15px;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    font-family: serif;
    border: 3px solid #fff;
    cursor: pointer;
}

#keys button:active {
    background-color: #fff;
    color: #000;
}

#restart {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart button {
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    font-family: serif;
    border: 3px solid #fff;
    cursor: pointer;
}

#restart button:active {
    background-color: #fff;
    color: #000;
}
